{% extends "base.html" %}

{% block content %}

<h1>Your Cart</h1>

{% if items %}

<table class="cart-table">

    <tr>
        <th>Book</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th></th>
    </tr>

    {% for item in items %}

    <tr>

        <td>

    <div class="cart-book">

        <img
    
            src="{{ url_for('static', filename='images/' + item['book']['image']) }}"
            class="small-cover"
            alt="{{ item['book']['title'] }}"
        >

        <p>{{ item["book"]["image"] }}</p>
        
        <div>
            <strong>{{ item["book"]["title"] }}</strong>
            <p>{{ item["book"]["author"] }}</p>
        </div>

    </div>

</td>
        <td>
            ₹{{ item["book"]["price"] }}
        </td>

        <td>

            <form
                action="/cart/update/{{ item['book']['id'] }}"
                method="POST"
            >

                <input
                    type="number"
                    name="quantity"
                    value="{{ item['quantity'] }}"
                    min="1"
                >

                <button type="submit">
                    Update
                </button>

            </form>

        </td>

        <td>
            ₹{{ item["subtotal"] }}
        </td>

        <td>

            <form
                action="/cart/remove/{{ item['book']['id'] }}"
                method="POST"
            >

                <button
                    type="submit"
                    class="remove-button"
                >
                    Remove
                </button>

            </form>

        </td>

    </tr>

    {% endfor %}

    <tr class="cart-total">

        <td colspan="3">
            <strong>Total</strong>
        </td>

        <td>
            <strong>₹{{ total }}</strong>
        </td>

        <td></td>

    </tr>

</table>


<div class="cart-actions">

    <a href="/">
        Continue shopping
    </a>

    <a href="/checkout">
        Proceed to checkout →
    </a>

</div>


{% else %}

<p>Your cart is empty.</p>

<a href="/">
    Continue shopping
</a>

{% endif %}

{% endblock %}