{% extends "base.html" %}

{% block content %}

<section class="hero">


<h1>Find your next favourite book</h1>

<p>
    Fiction, technology, self-help and more, delivered to your door.
</p>


</section>

<div class="search-box">


<input
    type="text"
    id="searchBox"
    value="{{ query }}"
    placeholder="Search title or author..."
>


</div>

<div class="category-filters">


{% for category in categories %}

    <a
        href="/?q={{ query }}&category={{ category }}&sort={{ sort }}"
        class="{% if selected_category == category or (not selected_category and category == 'All') %}active{% endif %}"
    >
        {{ category }}
    </a>

{% endfor %}


</div>

<div class="sorting">


<a
    href="/?q={{ query }}&category={{ selected_category or 'All' }}&sort=title"
>
    Sort by Title
</a>

<a
    href="/?q={{ query }}&category={{ selected_category or 'All' }}&sort=price"
>
    Sort by Price
</a>


</div>

<div
    class="book-grid"
    id="bookGrid"
>


{% if books %}

    {% for book in books %}

        <div class="book-card">

            <a href="{{ url_for('book_detail', id=book['id']) }}">

                <img
                    src="{{ url_for('static', filename='images/' + book['image']) }}"
                    alt="{{ book['title'] }}"
                >

            </a>


            <div class="book-card-content">

                <span class="category-tag">
                    {{ book["category"] }}
                </span>


                <h2>
                    {{ book["title"] }}
                </h2>


                <p>
                    {{ book["author"] }}
                </p>


                <form
                    action="{{ url_for('add_to_wishlist', id=book['id']) }}"
                    method="POST"
                    class="wishlist-form"
                >

                    <button
                        type="button"
                        class="wishlist-button {% if book['id'] in wishlist_ids %}wishlist-active{% endif %}"
                        data-book-id="{{ book['id'] }}"
                        title="Wishlist"
                    >
                        ♥
                    </button>

                </form>


                <div class="book-bottom">

                    <strong class="book-price">
                        ₹{{ book["price"] }}
                    </strong>


                    {% if book["stock"] > 0 %}

                        <button
                            type="button"
                            class="add-button add-to-cart-button"
                            data-book-id="{{ book['id'] }}"
                        >
                            Add to cart
                        </button>

                    {% else %}

                        <button
                            type="button"
                            class="add-button"
                            disabled
                        >
                            Out of stock
                        </button>

                    {% endif %}

                </div>

            </div>

        </div>

    {% endfor %}

{% else %}

    <div class="no-books">

        <h2>No books found</h2>

        <p>
            Try a different search or category.
        </p>

    </div>

{% endif %}


</div>

<div class="pagination">


{% if page > 1 %}

    <a
        href="/?q={{ query }}&category={{ selected_category or 'All' }}&sort={{ sort }}&page={{ page - 1 }}"
    >
        Previous
    </a>

{% endif %}


{% if total_pages > 0 %}

    <span>
        Page {{ page }} of {{ total_pages }}
    </span>

{% endif %}


{% if page < total_pages %}

    <a
        href="/?q={{ query }}&category={{ selected_category or 'All' }}&sort={{ sort }}&page={{ page + 1 }}"
    >
        Next
    </a>

{% endif %}


</div>

{% endblock %}
